@import 'normalize.css';

* {
    font-family: Poppins, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    max-width: 1400px;
}

nav {
    width: 100%;
    height: 78px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .logo {
    float: left;
    padding-left: 144px;
}

.nav-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    padding: 0 20px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #2F281E;
}

.btn {
    display: flex;
    gap: 14px;
    padding-right: 140px;
}

.btn-sign-in {
    padding: 10px 20px;
    border: 1px solid #BCD0E5;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #2F281E;
    background-color: transparent;
    border-radius: 2px;
}

.btn-sign-up {
    padding: 10px 20px;
    border: 1px solid #FF9900;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 2px;
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 144px;
}

.main-text {
    max-width: 520px;
}

.main-text h1 {
    font-size: 44px;
    font-weight: 700;
    color: #2F281E;
    margin-bottom: 30px;
}

.main-text p {
    font-size: 18px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 45px;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.btn-get-started {
    padding: 14px 28px;
    border: 1px solid #FF9900;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 2px;
}

.play-button {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    margin-left: 24px;
}

.play-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 10px solid #FF9900;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.watch-video {
    font-size: 16px;
    font-weight: 600;
    color: #FF9900;
}

.design-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 60px;
}

.design-tools h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #2F281E;
    margin-bottom: 40px;
}

.design-tools ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.design-tools ul li {
    margin: 0 24px;
}

.tools-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tools-element img {
    margin-bottom: 30px;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
}

.tools-element h3 {
    font-size: 22px;
    font-weight: 600;
    color: #2F281E;
    margin-bottom: 13px;
}

.tools-element p {
    font-size: 18px;
    font-weight: 500;
    color: #4F4F4F;
    width: 240px;
}

.info-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 144px;
}

.info-tile .upper-header-text p {
    padding-bottom: 12px;
    margin-bottom: 0;
}

.info-tile .main-text p {
    font-size: 16px;
    color: #544837;
}

.info-tile .main-text h2 {
    padding-top: 0;
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
    color: #2F281E;
}

.info-tile .main-text h4 {
    font-size: 16px;
    font-weight: 700;
    color: #544837;
}

.ticky-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.ticky-list-element {
    margin-top: 20px;
}

.ticky-list-element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ticky-list-element img {
    display: block;
    height: 35px;
    width: auto;
    margin-right: 20px;
}

.ticky-list-element p {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    height: 200px;
    padding: 20px 0 20px 144px;
}

.bottom-app-bar {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-app-bar-grid ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom-app-bar-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: flex-end;
}

.bottom-app-bar-column p {
    text-align: right;
    margin: 0;
    font-size: 16px;
    color: #544837;
}

.bottom-app-bar-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
}

.bottom-app-bar-input {
    padding: 10px;
    border: 1px solid #BCD0E5;
    border-radius: 2px;
}