* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Delius Unicase', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #444;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-section {
    margin-bottom: 80px;
}

.card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    min-height: 200px;

    grid-column: span 4;
}

.info {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.info span:nth-child(2) {
    font-weight: 400;
    opacity: 0.7;
}

.grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 370px; 
}

.span-4 { grid-column: span 4; }
.span-6 { grid-column: span 6; } 
.span-8 { grid-column: span 8; } 

.row-span-2 { grid-row: span 2; }